.projetsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
}

.titleProjets{
   padding-bottom: 5vh;
   padding-top: 10vh;
   color: rgb(231, 60, 55);
   margin-right: 68vw;
}